.halls {
  text-align: center;
  color: black;
  padding: 20px;
}

.subInfo {
  display: inline-block;
  vertical-align: top;
  background-color: #2774ae;
  border-radius: 10pt;
  border-width: 1pt;
  padding: 20pt 50pt;
  margin-right: 20pt;
  width: 300pt;
  text-align: left;
}
