.container {
    text-align: center;
}

.title {
    color: black;
}

.profilePicture {
    height: 100pt;
    width: 100pt;
    border-radius: 40pt;
}

.profilePictureContainer {
    border-color: black;
    border-width: 10pt;
    border-radius: 40pt;
    border-style: solid;
}

.infoBoard {
    text-align: center;
}

.subInfo {
    display: inline-block;
    vertical-align: top;
    background-color: red;
    padding: 20pt 50pt;
    margin-right: 20pt;
    width: 300pt;
    text-align: left;
}
