.container {
  text-align: center;
}

.title {
  color: black;
  font-size: 30pt;
}

.profilePicture {
  height: 10%;
  width: 10%;
  border-radius: 40pt;
}

.profilePictureContainer {
  border-color: black;
  border-width: 10pt;
  border-radius: 40pt;
  border-style: solid;
}

.infoBoard {
  text-align: center;
}

.subInfo {
  display: inline-block;
  vertical-align: top;
  background-color: #2774ae;
  border-radius: 10pt;
  border-width: 1pt;
  padding: 20pt 50pt;
  margin-right: 20pt;
  width: 300pt;
  text-align: left;
}

.infoTitle {
  color: black;
  font-size: x-large;
}

.infoList {
  color: black;
  font-size: large;
}

/* #newPassword {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #2774ae;
  border-radius: 4px;
  font-family: MavenPro-Medium;
}

#newPassword:focus {
  background-color: lightblue;
} */

/* #submitNewPassword {
  background-color: lightblue;
  border: #2774ae;
  border-radius: 4px;
  color: black;
  padding: 8px 16px;
  text-decoration: solid;
  margin: 4px 2px;
  cursor: pointer;
  font-family: MavenPro-Medium;
} */
