/*
COLORS:
- BLUE ACCENTS : #2774AE
- YELLOW ACCENTS : #FFD100
- MAIN WHITE : white
- MAIN GREY : grey
- BLUE ON CLICK : 
- YELLOW ON CLICK : 
*/

.App {
  text-align: center;
}

.App-menu {
  background-color: #2774ae;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffd100;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
