<<<<<<< Updated upstream
/*
COLORS:
- BLUE ACCENTS : #2774AE
- YELLOW ACCENTS : #FFD100
- MAIN WHITE : white
- MAIN GREY : grey
- BLUE ON CLICK : 
- YELLOW ON CLICK : 
*/
=======
.nav {
  padding:20px;
  background:white;
  width:100%;
  justify-content: space-evenly;
}

.button1{
  position:relative;
  font-style: normal;
  font-weight: normal;
  align-items: center;
  text-align: center;
  color: #000000;
  background-color: white;
  border:0px;
  padding:10px;
}
>>>>>>> Stashed changes

.App {
  text-align: center;
}

.App-menu {
  background-color: #2774ae;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffd100;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
