/*
COLORS:
- BLUE ACCENTS : #2774AE
- YELLOW ACCENTS : #FFD100
- MAIN WHITE : white
- MAIN GREY : grey
- BLUE ON CLICK : 
- YELLOW ON CLICK : 
*/

.App {
    text-align: center;
  }
  
  .App-menu {
    position: fixed; /* the menu will always be visible*/
    background-color: #2774ae;
    top: 0;
    align-items: center;
    height: 10%;
    width: 100%;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #ffd100;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }